body {
    font-family: 'Open Sans', sans-serif;
}

.month i {
    cursor: pointer;
}

.year i {
    cursor: pointer;
}

.days-name {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #969696;
    border-bottom: none;
}

.days-name li {
    float: left;
    display: inline-block;
    cursor: pointer;
    width: 27px;
    text-align: center;
    margin: 2px;
}

.calendar {
    width: 220px;
}

.calendar .switchers {
    overflow: hidden;
    /*margin: 2px;*/
    padding: 5px 0;
    border: 1px solid #969696;
    border-bottom: none;
}

.month {
    /*border: 1px solid #c8c8c8;*/
    /*border-radius: 3px;*/
    float: left;
    padding: 0 20px;
    position: relative;
}

.year {
    /*border: 1px solid #c8c8c8;*/
    /*border-radius: 3px;*/
    float: right;
    padding: 0 20px;
    position: relative;
}

.fa-chevron-right {
    position: absolute;
    top: 5px;
    right: 2px;
}

.fa-chevron-left {
    position: absolute;
    top: 5px;
    left: 2px;
}

.calendar-box {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    border: 1px solid #969696;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.calendar-box li {
    float: left;
    display: inline-block;
    /*border: 1px solid #969696;*/
    cursor: pointer;
    width: 27px;
    text-align: center;
    padding: 2px;
}

.calendar-box .current {
    color: #2693D5 !important;
    background-color: rgba(38, 147, 213, .2) !important;
}

.calendar-box .cantUse {
    cursor: default;
    color: rgba(195, 202, 205, .7)
}

.calendar-box .fade {
    cursor: pointer;
    color: rgba(195, 202, 205, .7)
}

.calendar-box .fadeNonClick {
    cursor: default;
    color: rgba(195, 202, 205, .7)
}

.calendar-box .active {
    background-color: #EBF1F4;
}

.calendar-box li:hover:not(.fadeNonClick):not(.cantUse) {
    background-color: #EBF1F4;
}
