body {
  font-family: 'Open Sans', sans-serif;
}

.calendar {
  .output {
    max-width: 315px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    height: 32px;
    &-inputs {
      display: inline-block;
      overflow: hidden;
      height: 32px;
      padding: 0 5px;
      width: 200px;
      text-align: center;
      div {
        float: left;
        input {
          outline: 0;
          width: 85px;
          text-align: center;
          height: 30px;
          border: 0;
          font-size: 16px;
        }
      }
      &-selection-start,
      &-selection-end {
        padding: 0 2px;
        display: inline-block;
      }
      &-separator {
        padding: 3px 2px;
        display: inline-block;
      }
    }
    &-btns {
      display: inline-block;
      overflow: hidden;
      float: right;
      margin: 0 10px 0 0;
      #calendar-list-btn {
        float: left;
        width: 32px;
        height: 32px;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGhlaWdodD0iNTEycHgiIGlkPSJMYXllcl8xIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MTIgNTEyOyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgd2lkdGg9IjUxMnB4IiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWwoJLnN0MHtmaWxsOm5vbmU7fQpdXT48L3N0eWxlPjxwb2x5bGluZSBjbGFzcz0ic3QwIiBwb2ludHM9IjgwLDExMiA4MCwxNzYgNDMyLDE3NiA0MzIsMTEyICIvPjxwYXRoIGQ9Ik0zNTIsOTZWNjRoLTE2djMySDE3NlY2NGgtMTZ2MzJINjR2MzUyaDM4NFY5NkgzNTJ6IE00MzIsNDMySDgwVjE5MmgzNTJWNDMyeiBNNDMyLDE3Nkg4MHYtNjRoODB2MzJoMTZ2LTMyaDE2MHYzMmgxNnYtMzIgIGg4MFYxNzZ6Ii8+PC9zdmc+) no-repeat center -1px;
        background-size: contain;
        text-align: center;
        cursor: pointer;
        span {
          font-size: 14px;
          margin: 11px 2px 0 0;
          display: block;
          color: #009f8a;
        }
      }
      #range-list-btn {
        float: left;
        width: 25px;
        height: 25px;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMyIDMyIiBoZWlnaHQ9IjMycHgiIGlkPSLQodC70L7QuV8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnIGlkPSJNZW51XzFfIj48cGF0aCBkPSJNMSwxMGgzMGMwLjU1MiwwLDEtMC40NDgsMS0xYzAtMC41NTItMC40NDgtMS0xLTFIMUMwLjQ0OCw4LDAsOC40NDgsMCw5QzAsOS41NTIsMC40NDgsMTAsMSwxMHoiIGZpbGw9IiMxMjEzMTMiLz48cGF0aCBkPSJNMzEsMTVIMWMtMC41NTIsMC0xLDAuNDQ4LTEsMWMwLDAuNTUyLDAuNDQ4LDEsMSwxaDMwYzAuNTUyLDAsMS0wLjQ0OCwxLTFDMzIsMTUuNDQ4LDMxLjU1MiwxNSwzMSwxNXoiIGZpbGw9IiMxMjEzMTMiLz48cGF0aCBkPSJNMzEsMjJIMTFjLTAuNTUyLDAtMSwwLjQ0OC0xLDFzMC40NDgsMSwxLDFoMjBjMC41NTIsMCwxLTAuNDQ4LDEtMVMzMS41NTIsMjIsMzEsMjJ6IiBmaWxsPSIjMTIxMzEzIi8+PC9nPjxnLz48Zy8+PGcvPjxnLz48Zy8+PGcvPjwvc3ZnPg==) no-repeat center;
        background-size: contain;
        text-align: center;
        cursor: pointer;
        margin: 3px 0 0 5px;
      }
    }
    &:hover {
      border: 1px solid #009f8a
    }
  }
  .range-list {
    display: none;
    padding: 5px;
    background: #fff;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      box-shadow: 0 0 5px #C3CACD;
      -moz-border-radius-bottomleft: 3px;
      -moz-border-radius-bottomright: 3px;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      li {
        cursor: pointer;
        border-bottom: 1px solid #EBF1F4;
        padding: 5px;
        .item-name {
          color: #009f8a;
        }
        .item-date-start,
        .item-date-separator,
        .item-date-end {
          font-size: 12px;
          color: #969696;
        }
        &:last-child {
          border-bottom: none;
        }
        &:hover {
          background: #EBF1F4;
        }
      }
    }
    &-show {
      display: block;
      position: absolute;
      margin: 5px 0 0 0;
      right: 0;
      left: 0;
      z-index: 100;
    }
  }
  .calendar-box {
    display: none;
    width: 217px;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 5px #C3CACD;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    .switchers {
      overflow: hidden;
      padding: 5px 0;
      border-bottom: none;
      width: 100%;
      .year,
      .month {
        padding: 0 20px;
        position: relative;
        border-radius: 3px;
        border: 1px solid rgba(195, 202, 205, .5);
      }
      .month {
        float: left;
        margin: 0 0 0 5px;
        span {
          width: 70px;
          display: block;
          text-align: center;
        }
      }
      .year {
        float: right;
        margin: 0 5px 0 0;
      }
      i {
        cursor: pointer;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 3px;
        &.right {
          right: 2px;
          background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAABAElEQVRoQ+3Zyw3CQAwE0EkHdAIlQAd0SglQAnRCCWilcMzFO58ocu5r5c3ksJEXHORZDuJAQ/bWZDfSjYgS6E9rI9g7gBeAryj4zbHMRgbiAeAN4ObGMCGntY1zAsOEjNpjGDYkhlFAIhgVxI5RQqwYNcSGcUAsGBdEjnFCpBg3RIZJQCSYFISOSUKomDSEhtkL5AngAuAD4Fr5l0lDxrV/GjFqTUJoiCSEikhB6IgERIJwQ2QIJ0SKcEHkCAfEglBDbAglxIpQQewIBSSCYENiCDbkv1YoX8Vndirs2+8hFj0zgU6fZTcy/ULVAQ2pJqc6142okq3O7UaqyanO/QBuz2Qzqh3/7wAAAABJRU5ErkJggg==);
          background-size: cover;
        }
        &.left {
          left: 2px;
          background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAABCklEQVRoQ+3Z0Q0CMQwDUN8GbAIjwEQwAkwGI8AmjIAqAUJ8nmMnd0r/W+nZ/UjVCStZ00ocaEi1JruRbkSUQF8tMtgNgCOAC3nOd3tGIwNxBbB7Q84RGDfkF/EAsAfwXBpEhhhBuBqRIlwQOcIBsSDUEBtCCbEiVBA7QgFJQURD0hCRkFREFCQdEQEpgWAhZRAMpBSChdwAbAHcARyixvG5Iz0z/Y5WymAYyAivDIaFlMFEQEpgoiDpmEhIKiYakoZRQFIwKogdo4RYMWqIDeOAWDAuiBzjhEgxbsg/ZvyPLPJb4fPcGFPzKQrBPKzmvn9k+zKulgTTEEmsxKHdCBGeZGs3IomVOPQFv4RgM1vSu+kAAAAASUVORK5CYII=);
          background-size: cover;
        }
      }
    }
    .calendar-container {
      .days-name {
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border-bottom: 1px solid #cccccc;
        border-top: 1px solid #cccccc;
        li {
          // float: left;
          display: inline-block;
          cursor: pointer;
          width: 27px;
          text-align: center;
          margin: 2px;
        }
      }
      .calendar-body {
        overflow: hidden;
        padding: 0;
        margin: 0;
        list-style: none;
        .day {
          float: left;
          // display: inline-block;
          cursor: pointer;
          width: 27px;
          text-align: center;
          padding: 2px;
          &:hover:not(.fadeNonClick):not(.cantUse) {
            background-color: #EBF1F4;
          }
          &__current {
            color: #2693D5 !important;
            background-color: rgba(38, 147, 213, .2) !important;
          }
          &__cantUse {
            cursor: default;
            color: rgba(195, 202, 205, .7)
          }
          &__fade {
            cursor: pointer;
            color: rgba(195, 202, 205, .7)
          }
          &__fadeNonClick {
            cursor: default;
            color: rgba(195, 202, 205, .7)
          }
          &__active {
            background-color: #EBF1F4;
          }
          &__isBetween {
            background-color: #EBF1F4;
          }
          &__start {
            background-color: #EBF1F4;
            position: relative;
            &:before {
              content: "";
              position: absolute;
              z-index: 1;
              width: 1px;
              height: 100%;
              background: #2693D5;
              left: 0;
              top: 0;
            }
          }
          &__end {
            background-color: #EBF1F4;
            position: relative;
            &:after {
              content: "";
              position: absolute;
              z-index: 1;
              width: 1px;
              height: 100%;
              background: #2693D5;
              right: 0;
              top: 0;
            }
          }
        }
      }
    }
    &-show {
      display: block;
      position: absolute;
      right: 0;
      left: 0;
      margin: 5px auto;
      z-index: 100;
    }
  }
  &-with-range,
  &-with-out-range {
    position: relative;
  }
  &-with-range {
    max-width: 285px;
  }
  &-with-out-range {
    max-width: 255px;
  }
}